# COVID 19 Deaths Analysis

In This project we go over the trends and analyze the Covid 19 dataset.

### 1. Loading and Exploring the Dataset

In [20]:
#Importing the necessary modules for data analyis
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [21]:
#Loading the csv file
#parse_dates to convert the date column to date datetime objects
covid = pd.read_csv("Covid_Dataset.csv",parse_dates=['date'])

#Checking the first 5 rows
covid.head(5)

,country,date,total_cases,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths,new_deaths,...,population,population_density,median_age,life_expectancy,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
0,Afghanistan,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578847.0,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
1,Afghanistan,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578847.0,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
2,Afghanistan,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578847.0,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
3,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578847.0,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
4,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578847.0,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN

In [23]:
#Checking the datatypes of the columns and non-null values count
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113879 entries, 0 to 113878
Data columns (total 61 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   country                                     113879 non-null  object
 1   date                                        113879 non-null  datetime64[ns]
 2   total_cases                                 112395 non-null  float64
 3   new_cases                                   112382 non-null  float64
 4   new_cases_smoothed                          112120 non-null  float64
 5   total_cases_per_million                     112395 non-null  float64
 6   new_cases_per_million                       112382 non-null  float64
 7   new_cases_smoothed_per_million              112120 non-null  float64
 8   total_deaths                                112395 non-null  float64
 9   new_deaths                                  112385 non-null  float64
 10  new_deaths_smoothed                         112120 non-null  float64
 11  total_deaths_per_million                    112395 non-null  float64
 12  new_deaths_per_million                      112385 non-null  float64
 13  new_deaths_smoothed_per_million             112120 non-null  float64
 14  excess_mortality                            2519 non-null    float64
 15  excess_mortality_cumulative                 2519 non-null    float64
 16  excess_mortality_cumulative_absolute        2519 non-null    float64
 17  excess_mortality_cumulative_per_million     2519 non-null    float64
 18  hosp_patients                               7103 non-null    float64
 19  hosp_patients_per_million                   7103 non-null    float64
 20  weekly_hosp_admissions                      2471 non-null    float64
 21  weekly_hosp_admissions_per_million          2471 non-null    float64
 22  icu_patients                                8962 non-null    float64
 23  icu_patients_per_million                    8961 non-null    float64
 24  weekly_icu_admissions                       1249 non-null    float64
 25  weekly_icu_admissions_per_million           1249 non-null    float64
 26  stringency_index                            46433 non-null   float64
 27  reproduction_rate                           42935 non-null   float64
 28  total_tests                                 15596 non-null   float64
 29  new_tests                                   14619 non-null   float64
 30  total_tests_per_thousand                    15596 non-null   float64
 31  new_tests_per_thousand                      14619 non-null   float64
 32  new_tests_smoothed                          22025 non-null   float64
 33  new_tests_smoothed_per_thousand             22025 non-null   float64
 34  positive_rate                               21236 non-null   float64
 35  tests_per_case                              21333 non-null   float64
 36  total_vaccinations                          18765 non-null   float64
 37  people_vaccinated                           16185 non-null   float64
 38  people_fully_vaccinated                     16683 non-null   float64
 39  total_boosters                              11849 non-null   float64
 40  new_vaccinations                            15300 non-null   float64
 41  new_vaccinations_smoothed                   47329 non-null   float64
 42  total_vaccinations_per_hundred              18765 non-null   float64
 43  people_vaccinated_per_hundred               16185 non-null   float64
 44  people_fully_vaccinated_per_hundred         16683 non-null   float64
 45  total_boosters_per_hundred                  11849 non-null   float64
 46  new_vaccinations_smoothed_per_million       47329 non-null   float64
 47  new_people_vaccinated_smoothed              47329 non-null   float64
 48  new_people_vaccinated_smoothed_per_hundred  47329 non-null   float64
 49  code                                        111804 non-null  object
 50  continent                                   107656 non-null  object
 51  population                                  111804 non-null  float64
 52  population_density                          111804 non-null  float64
 53  median_age                                  111804 non-null  float64
 54  life_expectancy                             111804 non-null  float64
 55  gdp_per_capita                              93124 non-null   float64
 56  extreme_poverty                             68181 non-null   float64
 57  diabetes_prevalence                         101434 non-null  float64
 58  handwashing_facilities                      55202 non-null   float64
 59  hospital_beds_per_thousand                  67055 non-null   float64
 60  human_development_index                     0 non-null       float64
dtypes: datetime64[ns](1), float64(57), object(3)
memory usage: 53.0+ MB

In [24]:
# Checking the count of the columns and rows
covid.shape

(113879, 61)

### 2. Cleaning the Data